.ReactTerminal {
    height: 550px;
    width: 1200px;
}

.ReactTerminalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#terminalEditor{
    overflow: auto;
}

/* width */
#terminalEditor::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#terminalEditor::-webkit-scrollbar-track {
    background: hsl(300, 76%, 15%); 
}

/* Handle */
#terminalEditor::-webkit-scrollbar-thumb {
    background: hsl(300, 76%, 30%);
    border-radius: 4px;
}

/* Handle on hover */
#terminalEditor::-webkit-scrollbar-thumb:hover {
    background: hsl(300, 76%, 38%);
    border-radius: 4px;
}

#WelcomeMessage{
    user-select: none;
    margin: 0;
    padding: 0;
    line-height: 1rem;
}

#WelcomeMessageText {
    font-size: 1rem;
    cursor: pointer;
}

#WelcomeMessageText > * {
    cursor: pointer;
}

#WelcomeMessage {
    background-image: repeating-linear-gradient(90deg, #14ffe9 0%, #ffc800 16.66666%, #ff00e0 33.33333%, #14ffe9 50.0%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 10s linear infinite;
    background-size: 100vw 100vh;
}

@keyframes rainbow {
    0% {
        background-position: 0vw;
    }
    100% {
        background-position: 100vw;
    } 
}